# Build output
dist/
.output/
out/

# Dependencies
node_modules/

# Logs
*-debug.log*
*-error.log*
pnpm-debug.log*

# Environment variables (Sangat Penting!)
.env
.env*.local
.env.production
!.env.example # Jangan ignore file contoh/template

# macOS-specific files
.DS_Store
Thumbs.db

# Astro specific
.astro/

# IDE - VS Code & IntelliJ
.vscode/*
!.vscode/extensions.json
.idea/

# Versi pnpm-lock.yaml dihapus dari sini supaya masuk ke Git