---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Undangan Digital Pekanbaru — Undangan Digital & Undangan Online',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero image={{ src: '~/assets/images/undangan-digital-pekanbaru.webp', alt: 'Undangan Digital Pekanbaru' }}>
    <Fragment slot="title">
      Undangan Digital Pekanbaru
      <span class="hidden xl:inline"></span>
      <span class="text-accent dark:text-white"> Live Dalam 3 Jam </span>
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Undangan Website</span> di Pekanbaru ?
        <br /> Pengerjaan Instant 3 Jam</span
      >

      <span class="block mb-1 sm:hidden font-bold text-blue-600">Undangan Online Pekanbaru.</span>
      <br /> Bikin Sekali, Share Berkali-Kali
      <br /> Garansi Undangan On 1 Tahun (bukan 1,3,6 bulan)
    </Fragment>
  </Hero>

  <!-- Note Widget ******************* -->

  <Note title="Philosophy:" description="Simpel, Gercep, & Respek 24 Jam" />

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="089519865963"
    title="Jasa Website Undangan Paling 'Gercep' di Pekanbaru"
    subtitle="Bikinnya di Pagi Hari, Undangan nya Online di Siang Hari."
    items={[
      {
        title: 'Bayar Aman & Tenang',
        description:
          'Tak perlu cemas, sistem pembayaran kami terjamin aman. Transaksi lancar, hati pun tenang fokus urus pelaminan.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Upgrade Fitur Premium',
        description:
          'Mau fitur lebih lengkap? Bisa upgrade kapan saja biar undanganmu makin canggih dengan RSVP dan navigasi lokasi.',
        icon: 'tabler:components',
      },
      {
        title: 'Paket Harga Cincai',
        description:
          'Pilih paket yang pas di kantong, dari yang simpel sampai yang paling nendang desainnya buat hari bahagiamu.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Harga Jujur Tak Neko Neko',
        description:
          'Detail harga jelas sejak awal. Tak ada biaya tambahan yang tiba-tiba muncul, pokoknya transparan dan terpercaya.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Langsung Jadi dalam Beberapa Jam',
        description:
          'Tak pakai lama, tak pakai nunggu. Begitu beres, undangan digitalmu langsung aktif dan siap sebar ke grup WhatsApp..',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Standby Bantu 24 Jam',
        description:
          'Orang Pekanbaru asli yang bantu! Tim kami siap sedia tiap hari kalau ada kendala, tinggal chat atau telepon saja..',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->

  <Content
    isReversed
    tagline="089519865963"
    title="Fitur Canggih: Solusi Undangan Masa Kini!"
    items={[
      {
        title: 'Teknologi Undangan Tanpa Batas',
        description:
          'Berikan kemudahan akses bagi tamu undangan melalui fitur-fitur yang dirancang untuk efisiensi maksimal.',
      },
      {
        title: 'Integrasi RSVP & Buku Tamu',
        description:
          'Pantau kehadiran tamu secara real-time dan terima ucapan doa langsung melalui dashboard yang mudah digunakan',
      },
      {
        title: 'Navigasi Lokasi Presisi',
        description:
          'Dilengkapi dengan integrasi Google Maps dan Waze untuk memastikan tamu sampai di lokasi tanpa tersesat.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">
        Bikin Sekali, Sebar Berkali-kali
      </h3>
      Lupakan Cari Jasa Kurir Antar Undangan
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isAfterContent
    items={[
      {
        title: 'Manajemen Angpao Digital',
        description: `Fasilitasi tamu yang ingin mengirimkan kado atau tanda kasih secara cashless melalui e-wallet dan rekening bank.`,
      },
      {
        title: 'Protokol Kesehatan & Sesi Kunjungan',
        description:
          'Atur pembagian jam kedatangan tamu atau informasi protokol kesehatan untuk menjaga kenyamanan acara.',
      },
      {
        title: 'Sentuhan Personal yang Tak Terlupakan',
        description: 'Pastikan setiap detail desain merepresentasikan keunikan kisah cinta dan momen spesial Anda.',
      },
      {
        title: 'Custom Nama Tamu Eksklusif',
        description:
          'Tuliskan nama tamu secara spesifik pada setiap link untuk memberikan kesan personal dan lebih dihargai.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Galeri Foto & Sinematik.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Galeri Foto & Sinematik',
        description:
          'Video Bagikan momen pre-wedding Anda dalam tampilan galeri grid yang modern dan pemutar video yang mulus.',
      },
      {
        title: 'Love Story Timeline',
        description:
          'Ceritakan perjalanan cinta Anda dari awal bertemu hingga pelaminan melalui fitur garis waktu yang interaktif..',
      },
      {
        title: 'Background Musik Autoplay',
        description:
          'Ciptakan suasana romantis dengan pilihan lagu favorit yang akan otomatis berputar saat undangan dibuka.',
      },
      {
        title: 'Hitung Mundur & Kalender',
        description: `Pastikan tamu tidak melewatkan hari bahagia Anda dengan fitur countdown timer dan pengingat kalender digital.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Didesain khusus untuk momen berharga Anda.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <!-- Steps Widget ****************** -->

  <Steps
    title="4 Langkah Menuju Undangan Impian."
    items={[
      {
        title: 'Step 1: <span class="font-medium">Jelajahi Galeri Estetik</span>',
        description:
          'Cuci mata dengan puluhan desain premium kami. Temukan tema yang paling mewakili kisah cinta kalian.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Pilih Paket Sesuai Budget</span>',
        description:
          'Tentukan fitur yang pas di kantong. Mau yang hemat atau paket full-service ala Sultan? Semua ada.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Dibuatkan Akun Eksklusif</span>',
        description: 'Daftar singkat untuk mengamankan dashboard pribadi Anda. Data aman, privasi terjaga.',
        icon: 'tabler:paint',
      },
      {
        title: 'Undangan Siap Disebar!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Kenapa Harus Digital ?"
    subtitle="9 Alasan Cerdas Memilih Undangan Digital"
    tagline="089519865963"
    items={[
      {
        title: 'Hemat Jutaan Rupiah',
        description: 'Pangkas total biaya cetak kertas & ongkir fisik hingga 0 rupiah.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Sebar Via WhatsApp',
        description: 'Kirim ke ribuan kontak di mana saja hanya dalam satu kali klik!',
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Revisi Tanpa Batas',
        description: 'Salah ketik nama atau ganti jam? Edit detik itu juga, gratis!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Peta Anti Nyasar',
        description: 'Integrasi Google Maps presisi, pandu tamu sampai tepat di depan gedung.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Konfirmasi Otomatis',
        description: 'Fitur RSVP mencatat jumlah tamu hadir secara real-time & rapi.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Terima Amplop Digital',
        description: 'Solusi praktis terima kado cashless (QRIS/Transfer) langsung ke rekening.',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Galeri & Musik',
        description: 'Bangun suasana romantis dengan backsound lagu dan foto prewedding HD.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Kuota Tamu Bebas',
        description: 'Mau undang 100 atau 1000 orang, harga paket tetap sama ratanya..',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Ramah Lingkungan',
        description: 'Rayakan cintamu sambil menjaga bumi tanpa menyisakan sampah kertas',
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Temukan Artikel kami di Layanan Undangan Digital Pekanbaru"
    information={`Hai, para calon raja & ratu sehari di kota Pekanbaru. Blog ini menjelaskan kelebihan menggunakan undangan link di kota Pekanbaru. Kini kalian bisa menghemat biaya cetak undangan fisik yang mahal dan ribet. Dengan undangan digital, kalian bisa dengan mudah mengirimkan undangan ke banyak tamu hanya dengan sekali klik
                `}
  />

  <!-- FAQs Widget ******************* -->

  <FAQs
    title="Paling Sering Ditanyakan"
    subtitle="Dapatkan jawaban cepat untuk memulai perjalanan membuat undangan digital impian Anda tanpa keraguan."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Bagaimana cara memulai?',
        description:
          'Pilih desain favorit Anda, isi data acara, dan lakukan pembayaran. Undangan Anda siap dikirimkan hanya dalam hitungan menit saja.',
      },
      {
        title: 'Berapa lama proses pembuatannya?',
        description:
          'Sangat cepat! Setelah pembayaran terverifikasi, sistem kami aktif otomatis. Anda tinggal memasukkan detail acara dan undangan langsung siap dibagikan.',
      },
      {
        title: 'Apakah bisa ganti foto atau lagu?',
        description:
          'Tentu saja bisa. Anda memiliki akses penuh ke panel editor untuk mengganti foto, musik, hingga video kapan pun Anda inginkan.',
      },
      {
        title: 'Bagaimana jika ada perubahan lokasi?',
        description:
          'Jangan khawatir. Anda bebas merubah jam, alamat, atau link lokasi Google Maps kapan saja melalui dashboard tanpa biaya tambahan sepeser pun.',
      },
      {
        title: 'Apa undangan ini ada masa aktifnya?',
        description:
          'Tidak perlu cemas soal durasi. Undangan digital Anda tetap akan aktif dan dapat diakses selama 1 Tahun sebagai kenangan digital yang indah.',
      },
      {
        title: 'Bagaimana cara menyebar undangannya?',
        description:
          'Cukup salin link unik undangan Anda, lalu bagikan melalui WhatsApp, Instagram, atau media sosial lainnya dengan sangat mudah dan praktis..',
      },
    ]}
  />

  <!-- Stats Widget ****************** -->

  <Stats
    stats={[
      { title: 'Undangan Digital', amount: '32K' },
      { title: 'Undangan Aqikah', amount: '14.8K' },
      { title: 'Undangan Khitan', amount: '8.3K' },
      { title: 'Undangan Video', amount: '2.4K' },
    ]}
  />

  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Tanya2 di WA',
        href: 'https://wa.me/6289519865963',
        target: '_blank',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">
      Pesan <br class="block sm:hidden" /><span class="sm:whitespace-nowrap">Undangan Digital ?</span>
    </Fragment>

    <Fragment slot="subtitle">
      Hemat waktu anda. Serahkan urusan undangan acara anda kepada kami. <br class="hidden md:inline" />Silahkan Anda
      Duduk Manis Dirumah Anda
    </Fragment>
  </CallToAction>
</Layout>
