---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

import Features2 from '~/components/widgets/Features2.astro';
import Features from '~/components/widgets/Features.astro';
import Stats from '~/components/widgets/Stats.astro';
import Features3 from '~/components/widgets/Features3.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Brands from '~/components/widgets/Brands.astro';

import { YouTube } from 'astro-embed';

const metadata = {
  title: 'Beranda - Solusi Undangan Digital',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="Demo Web Undangan Digital"
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Lihat Katalog',
        href: '#',
        icon: 'tabler:download',
      },
      { text: 'Pelajari Fitur', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Tingkatkan <span class="hidden sm:inline">kehadiran acara</span> Anda dengan <span
        class="text-accent dark:text-white">Undangan Digital</span
      > yang Modern
    </Fragment>

    <Fragment slot="subtitle">
      Masuki era baru dengan templat undangan digital kami. Solusi terbaik untuk memperkuat kesan acara Anda, membangun
      kredibilitas, dan menjangkau tamu dengan lebih luas serta praktis.
    </Fragment>

    <Fragment slot="image">
      <YouTube id="gxBkghlglTg" title="Cara Mudah Membuat Undangan Digital" />
      <style is:inline>
        lite-youtube {
          margin: 0 auto;
          max-width: 100%;
        }
      </style>
    </Fragment>
  </Hero>

  <Features2
    title="Tentang Kami"
    subtitle="Kami percaya pada keajaiban mengubah impian menjadi realitas yang menakjubkan. Didirikan oleh para pengembang kreatif dengan visi yang sama, kami hadir untuk menyederhanakan proses pembuatan undangan pernikahan. Templat kami menggabungkan inovasi teknologi terbaru dan fleksibilitas desain, memungkinkan Anda mengekspresikan identitas unik acara Anda dengan cara yang belum pernah ada sebelumnya."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Stats
    title="Temukan dampak luar biasa dari layanan kami"
    subtitle="Angka-angka di bawah ini mencerminkan kepercayaan yang diberikan pengguna kepada kami dan hasil luar biasa yang telah kami bantu capai."
    stats={[
      { title: 'Unduhan', amount: '182K' },
      { title: 'Undangan Terbit', amount: '87' },
      { title: 'Rating Pengguna', amount: '4.8' },
      { title: 'Klien Puas', amount: '116K' },
    ]}
  />

  <Brands
    title="Kemitraan & Metode Pembayaran"
    subtitle="Kami bekerja sama dengan berbagai penyedia layanan terpercaya untuk memastikan transaksi dan pengalaman Anda berjalan lancar."
    icons={[]}
    images={[
      {
        src: 'https://cdn.pixabay.com/photo/2015/05/26/09/37/paypal-784404_1280.png',
        alt: 'Paypal',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/48/visa-6850402_1280.png',
        alt: 'Visa',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/10/01/10/29/ebay-189064_1280.png',
        alt: 'Ebay',
      },

      {
        src: 'https://cdn.pixabay.com/photo/2015/04/13/17/45/icon-720944_1280.png',
        alt: 'Youtube',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/02/12/09/07/microsoft-80658_1280.png',
        alt: 'Microsoft',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/04/23/17/41/node-js-736399_1280.png',
        alt: 'Node JS',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2015/10/31/12/54/google-1015751_1280.png',
        alt: 'Google',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2021/12/06/13/45/meta-6850393_1280.png',
        alt: 'Meta',
      },
      {
        src: 'https://cdn.pixabay.com/photo/2013/01/29/22/53/yahoo-76684_1280.png',
        alt: 'Yahoo',
      },
    ]}
  />

  <Features2
    title="Layanan apa yang kami sediakan?"
    subtitle="Kami menawarkan berbagai pilihan templat undangan yang sesuai dengan berbagai industri dan kebutuhan seperti bisnis, portofolio, pernikahan, blog, dan lainnya."
    items={[
      {
        title: 'Instruksi Pemasangan',
        description:
          'Memberikan panduan yang jelas tentang cara mengunduh templat yang dibeli dan memasangnya di berbagai platform situs web.',
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Demo dan Pratinjau',
        description:
          'Menyediakan demo interaktif yang memungkinkan pelanggan melihat bagaimana templat pilihan mereka akan terlihat sebelum membeli.',
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Dukungan Teknis',
        description:
          'Menyediakan layanan bantuan pelanggan untuk setiap masalah teknis terkait penggunaan templat atau implementasinya.',
        icon: 'flat-color-icons:voice-presentation',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Features
    id="features"
    title="Fitur Utama Templat Kami"
    subtitle="Memiliki karakteristik kunci untuk memenuhi kebutuhan pasangan modern dan penyelenggara acara dengan efektif."
    columns={3}
    items={[
      {
        title: 'Desain Modern & Profesional',
        description: 'Memiliki desain kontemporer yang mencerminkan tren saat ini dan memberikan kesan profesional.',
        icon: 'tabler:artboard',
      },
      {
        title: 'Responsif & Ramah Seluler',
        description:
          'Beradaptasi dengan sempurna di berbagai ukuran layar dan perangkat untuk memastikan pengalaman yang konsisten.',
        icon: 'tabler:picture-in-picture',
      },
      {
        title: 'Kemudahan Kustomisasi',
        description:
          'Mudah disesuaikan, memungkinkan Anda mengubah desain, warna, tipografi, dan konten agar sesuai dengan tema acara Anda.',
        icon: 'tabler:adjustments-horizontal',
      },
      {
        title: 'Waktu Pemuatan Cepat',
        description:
          'Dioptimalkan untuk kecepatan guna memastikan pengalaman pengguna yang lancar dan peringkat mesin pencari yang baik.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Optimasi Mesin Pencari (SEO)',
        description:
          'Menerapkan praktik SEO terbaik dalam struktur kode templat untuk meningkatkan visibilitas di hasil pencarian.',
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Kompatibilitas Luas',
        description: 'Templat kami bekerja dengan lancar di berbagai sistem manajemen konten dan pembuat situs web.',
        icon: 'tabler:plug-connected',
      },
    ]}
  />

  <FAQs
    title="Pertanyaan yang Sering Diajukan"
    items={[
      {
        title: 'Apa itu templat halaman landas (landing page)?',
        description:
          'Templat halaman landas adalah tata letak halaman web yang dirancang khusus untuk menjadi fondasi dalam membangun halaman yang efektif. Templat ini dibuat untuk menarik perhatian pengunjung dan mengarahkan mereka ke tindakan tertentu, seperti mendaftar atau melihat detail undangan.',
      },
      {
        title: 'Mengapa saya harus menggunakan templat?',
        description:
          'Keuntungannya adalah menyediakan struktur siap pakai yang menghemat banyak waktu Anda. Dirancang agar mudah digunakan dan merupakan alternatif hemat biaya namun tetap memberikan hasil berkualitas tinggi.',
      },
      {
        title: 'Dapatkah saya melihat pratinjau sebelum membeli?',
        description:
          'Ya, Anda dapat melihat pratinjau templat sebelum melakukan pembelian. Terdapat tombol "Demo" di setiap pilihan templat kami.',
      },
      {
        title: 'Apakah saya butuh keahlian teknis untuk menggunakan templat ini?',
        description:
          'Keahlian teknis tingkat lanjut tidak diperlukan, namun memiliki pemahaman dasar navigasi web akan sangat membantu. Jika Anda butuh kustomisasi khusus, tim dukungan kami siap membantu Anda.',
      },
      {
        title: 'Bisakah saya menggunakan satu templat untuk banyak situs?',
        description:
          'Tidak, satu templat hadir dengan lisensi penggunaan tunggal, artinya hanya dapat digunakan untuk satu proyek atau satu situs web saja.',
      },
      {
        title: 'Bagaimana jika saya butuh bantuan kustomisasi?',
        description:
          'Kami menyediakan panduan langkah demi langkah yang lengkap. Jika Anda masih ragu, tim dukungan pelanggan kami siap menjawab pertanyaan dan memberikan bimbingan langsung.',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </FAQs>

  <Features3
    title="Beritahu kami bagaimana kami bisa membantu"
    subtitle="Kami di sini untuk membantu dan menjawab setiap pertanyaan yang mungkin Anda miliki."
    columns={4}
    items={[
      {
        title: 'Telepon',
        icon: 'tabler:phone',
        callToAction: {
          target: '_blank',
          text: 'Hubungi Kami',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Email',
        icon: 'tabler:mail',
        callToAction: {
          target: '_blank',
          text: 'Kirim Email',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat Penjualan',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Mulai Obrolan',
          href: '/',
          variant: 'link',
        },
      },
      {
        title: 'Chat Dukungan',
        icon: 'tabler:message-circle',
        callToAction: {
          target: '_blank',
          text: 'Mulai Obrolan',
          href: '/',
          variant: 'link',
        },
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        target: '_blank',
        text: 'Dapatkan Templat',
        href: '#',
        icon: 'tabler:download',
      },
    ]}
  >
    <Fragment slot="title">Jadilah Bagian dari Visi Kami</Fragment>

    <Fragment slot="subtitle">
      Temukan lingkungan kerja yang dinamis, peluang pertumbuhan yang tak tertandingi, dan kesempatan untuk memberikan
      dampak yang bermakna bagi momen spesial banyak orang.
    </Fragment>
  </CallToAction>
</Layout>
